extends layout.jade

block content
  .content
    .santse
    .buttons.flex
      a.button(href='http://www.kela.fi/')
        span(style='background: #f9c418;')
          | K
        p Kela
        i.arrow.fa.fa-angle-right
      a.button(href='http://www.te-palvelut.fi/te/fi/')
        span(style='background: #B6BE00;')
          | TE
        p Työvoimatoimisto
        i.arrow.fa.fa-angle-right
      a.button(href='ts3server://ts.connect.munkkeli.com/?port=9987')
        span(style='background: #425F80;')
          i.fa.fa-headphones
        p TeamSpeak
        i.arrow.fa.fa-angle-right
      a.button#notifications(href='http://www.reddit.com/r/13OHTU/')
        span(style='background: #ff5700;')
          i.fa.fa-reddit
        p /r/13OHTU/
        i.arrow.fa.fa-angle-right

  .content
    .teamspeak
      div(id='ts3viewer_1075592')

  .content.text Valtakunnallinen kriisipuhelin: 010 195 202 📞
    small Arkisin klo 9.00–07.00, viikonloppuisin ja juhlapyhinä klo 15.00–07.00

  .robot